@model List<TH02.Models.Product>
@{
    ViewBag.Title = "GetProduct";
}
<style>
    img{
        width: 100px;
        height: 100px;
    }
</style>
<table border="1">
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.ID</td>
        <td><img src="~/@item.Image" /></td>
        <td>@item.ProductName</td>
        <td>@item.ProductType</td>
        <td>@item.ProductPrice</td>
        <td style="text-align:center; width: 300px"><a href="#" class="btn btn-success">Edit</a><a href="#" class="btn btn-primary">Detail</a><a href="#" class="btn btn-danger">Delete</a></td>
    </tr>
    }
</table>

<a href="~/Employee/GetView" class="btn btn-success">BÀI TẬP 2</a>

